@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800;900&family=Outfit:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: none; */
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: 'outfit', sans-serif;
    background-color: hsl(30, 43%, 92%);
    font-size: 16px;
}

.container {
    padding: 2rem 20rem;

}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: whitesmoke;
    padding: 2.5rem;
    border-radius: 10px;
    margin-top: 1rem;


}

.logo {
    display: flex;
    gap: 36rem;

}

.logo img {
    width: 3rem;
    height: 3rem;

}

.logo nav ul {
    display: flex;
    padding-top: 0.8rem;
    font-weight: bold;
    color: #1c2e82;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 40%;
    border-radius: 10rem;

}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #182145;
}

.info-perso input {
    width: 800px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid black;
}

.line {
    margin: 1rem 0 1rem 0;
    color: #182145;
}

hr {
    height: 4px;
    background-color: #182145;

}

@media only screen and (max-width: 768px) {

    .container{
        padding: 0;
    }
    .card {
        padding: 0;
        border-radius: 0;
        margin-top: 0;
        
    }
    .info-perso input {
        width: 700px;
        
    }

    .info-perso{
        padding: 1rem 1rem;
        
    }
    body{
        width: 800px;
        font-size: 16px;
    }
    hr{
        width: 700px;
    }

    .logo{
        gap: 32rem;
    }
    /* li a{
        font-size: 1rem;
        
    } */
    .logo img{
        margin-left: 1rem;
    }
}